#arbol {
  margin: 0 auto;
}

ul {
  padding: 0;
  margin: 0;
  margin-left: 15px;
  list-style: none;
}

li.item {
  position: relative;
}

.contenido-item {
  height: 30px;
  padding-top: 2px;
}

.contenido-item:hover {
  background-color: navajowhite;
}

.btn-contraer-expandir {
  cursor: pointer;
  width: 20px;
  text-align: center;
  color: blue;
  float: left;
}

.codigo-item {
  float: left;
  text-align: right;
  background-color: antiquewhite;
  width: 70px;
  font-size: 11px;
  margin-top: 5px;
}

.nombre-item {
  margin-left: 100px;
  margin-top: 3px;
  height: 26px;
}

.btns-item {
  position: absolute;
  right: 2px;
  top: 2px;
}