// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

body {
  padding-top: 60px;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~jquery-toast-plugin/dist/jquery.toast.min.css';

.tabla-formulario {
  > tbody {
    > tr {
      > td {
        vertical-align: top;
        padding: 0 5px;
      }
    }
  }
}